<app-header></app-header>


<!-- <h1>Hello</h1>
<p>{{title}}</p>
<p>{{Fname}}</p>
<h1>Interpolation</h1>
<p>{{Interpolation}}</p>
<p>{{getName()}}</p>
<p>Name : {{obj.name}} , Age : {{obj.age}}</p>
<p>{{arr[1]}}</p>
<p>{{10+10}}</p>
<p>{{a+b}}</p>
<p>{{siteUrl}}</p>
<h1>Components</h1>
<app-user-list></app-user-list>
<h1>Modules</h1>
<app-login></app-login>
<app-signup></app-signup> -->
<h1>Events</h1>
<!-- <button (click)='getVal()'>get name</button> -->
<button (click)="getVal('peter')">get name</button>
<br><br>
<!-- <input type="text" (keyup)="myEvent('Keyup Event')"> -->
<input type="text" #box (keyup.enter)="myEvent(box.value)">
<br><br>
<div style="background-color: aqua; width: 20%;" (mouseover)="myEvent('mouse in')" (mouseleave)="myEvent('mouse out')">
    mouse hover and leave event
</div>
<h1>Get value by value change and btn click</h1>
<!-- <input type="text" (keyup)="test($event)">
<p>{{currentVal}}</p> -->

<input type="text" #peter />
<br><br>
<button (click)="getBtn(peter.value)">get value</button>
<br>
<h4>{{currentVal}}</h4>
<h1>Property binding</h1>
<input type="text" [disabled]='disabledInput' [value]="lname">
<br><br>
<input type="text" disabled='{{disabledInput}}' value="{{lname}}">
<br><br>
<button (click)="EnBtn()">Enable</button>
<h1>Conditions</h1>
if
<div *ngIf='show'>

    <h4>If block</h4>
</div>
if/else
<div *ngIf='show else Elseblock'>
    <h4>If block</h4>
</div>
<ng-template #Elseblock>
    <h4>Else Block</h4>
</ng-template>
<div *ngIf='isLoggedIn else notLoggedIn'>
    <h4>Welcome, User!</h4>
</div>
<ng-template #notLoggedIn>
    <h4>Please log in to continue.</h4>
</ng-template>
else if
<ng-container *ngIf="isLoggedIn; else elseTemplate">
    <p>Welcome, User!</p>
</ng-container>
<ng-template #elseTemplate>
    <ng-container *ngIf="isSignUpPage; else notLoggedInTemplate">
        <p>Please sign up to continue.</p>
    </ng-container>
    <ng-template #notLoggedInTemplate>
        <p>Please log in to continue.</p>
    </ng-template>
</ng-template>
<h1>Switch Case</h1>
<div [ngSwitch]='color'>
    <h3 style="color: red;" *ngSwitchCase="'red'">
        Red Color
    </h3>
    <h3 style="color: green;" *ngSwitchCase="'green'">
        Green Color
    </h3>
    <h3 style="color: blue;" *ngSwitchCase="'blue'">
        blue Color
    </h3>
</div>

<h1>For Loop Array/Obj</h1>
<!-- <div *ngFor='let item of data'>
<p>{{item}}</p>
</div> -->

<!-- <div *ngFor='let item of data'>
    <p>{{item.name}} {{item.age}}</p>
</div> -->

<table border="1">
    <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr *ngFor='let item of data; let i = index'>
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
    </tr>
</table>
<h1>Forms</h1>

<form #simpleForm="ngForm" (ngSubmit)='getUserValue(simpleForm.value)'>
    <input type="text" name="name" ngModel placeholder="Enter Name"><br><br>
    <input type="text" name="age" ngModel placeholder="Enter Age"><br><br>
    <input type="email" name="email" ngModel placeholder="Enter Email"><br><br>
    <button>Submit</button>
</form>

<h1>Style binding</h1>
<!-- normal style -->
<h4 style="color: blue;">Lorem ipsum dolor</h4>
<!-- bind -->
<h4 [style.color]="'green'">Lorem ipsum dolor</h4>
<!-- Dynamic style -->
<h4 [style.color]='color'>Dynamic style</h4>
<!-- Condition style -->
<h4 [style.color]="err?'red':'green'">Conditional style</h4>
<button (click)="updateColor()">Update Color</button>

<h1>Bootstrap</h1>
<ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>
<p>You need a width on the immediate child element for the animation to work correctly.</p>
<p>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Toggle
    </button>
</p>
<div style="min-height: 100px">
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true" style="max-width: 300px">
        <div class="card" style="width: 300px">
            <div class="card-body">You can collapse horizontally this card by clicking Toggle</div>
        </div>
    </div>
</div>

<h1>Material ui</h1>
<button mat-button>Basic</button>
<button mat-raised-button>Basic</button>
<button mat-raised-button color="warn">Warn</button>
<mat-slider>
    <input matSliderThumb>
</mat-slider>
<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
</button>
<button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
</button>


<h1>Pass data parent to child</h1>

<!-- <app-user-list [hero]="sendData"></app-user-list> -->
<!-- <div *ngFor='let data of sendData'>
    <app-user-list [hero]="data"></app-user-list>
</div> -->

<h1>Pass data child to parent</h1>

<app-user-list (test)="parentComponent($event)"></app-user-list>


<app-footer></app-footer>